<div [@routerTransition]>

  <div class="kt-subheader kt-grid__item">

      <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
              <span>{{l("Invoice KnockOff")}}</span>
          </h3>
          <span class="kt-subheader__desc">
          </span>
      </div>
      <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
              
              <button *ngIf="isGranted('Pages.APINVKNOCKD.Create')" (click)="createOrEdit(null)"
                  class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create Invoice KnockOff")}}</button>
          </div>
      </div>

  </div>
  <div class="kt-content">
      <div class="kt-portlet kt-portlet--mobile">
          <div class="kt-portlet__body">
              <form class="kt-form" autocomplete="off">
                  <div>
                      <div class="row align-items-center">
                          <div class="col-xl-12">
                              <div class="form-group m-form__group align-items-center">
                                  <div class="input-group">
                                      <input [(ngModel)]="filterText" name="filterText" autoFocus
                                          class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                          type="text">
                                      <span class="input-group-btn">
                                          <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                  class="flaticon-search-1"></i></button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>

              <div class="row align-items-center">
                  <!--<Primeng-Datatable-Start>-->
                  <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                      <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                          rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                          [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                          [resizableColumns]="primengTableHelper.resizableColumns">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th style="width: 70px"
                                      [hidden]="!isGrantedAny('Pages.APINVKNOCKD.Edit')">
                                      {{l('Actions')}}</th>
                                  <th style="width: 90px" pSortableColumn="docNo">
                                      {{l('DocNo')}}
                                      <p-sortIcon field="docNo"></p-sortIcon>
                                  </th>
                                  <th style="width: 90px" pSortableColumn="docDate">
                                      {{l('DocDate')}}
                                      <p-sortIcon field="docDate"></p-sortIcon>
                                  </th>
                                  <th style="width: 110px" pSortableColumn="debtorCtrlAc">
                                      {{l('Creditor')}}
                                      <p-sortIcon field="debtorCtrlAc"></p-sortIcon>
                                  </th>
                                  <th style="width: 150px" pSortableColumn="custID">
                                      {{l('Vendor')}}
                                      <p-sortIcon field="custID"></p-sortIcon>
                                  </th>
                                  <th style="width: 100px" pSortableColumn="amount">
                                      {{l('Amount')}}
                                      <p-sortIcon field="amount"></p-sortIcon>
                                  </th>
                                  <!-- <th style="width: 100px" pSortableColumn="posted">
                                      {{l('Posted')}}
                                      <p-sortIcon field="posted"></p-sortIcon>
                                  </th>
                                  <th style="width: 110px" pSortableColumn="postedDate">
                                      {{l('Posted Date')}}
                                      <p-sortIcon field="postedDate"></p-sortIcon>
                                  </th>
                                  <th style="width: 200px" pSortableColumn="narration">
                                      {{l('Narration')}}
                                      <p-sortIcon field="narration"></p-sortIcon>
                                  </th> -->
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-record="$implicit">
                              <tr>
                                  <td style="width: 70px"
                                      [hidden]="!isGrantedAny('Pages.APINVKNOCKD.Edit')">
                                      <div class="btn-group dropdown" dropdown container="body">
                                          <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                              <i class="fa fa-bars"></i><span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" *dropdownMenu>
                                              <!-- <li>
                                                  <a href="javascript:;" (click)="view(record)">{{l('View')}}</a>
                                              </li> -->
                                              <li>
                                                  <a href="javascript:;"
                                                      *ngIf="permission.isGranted('Pages.APINVKNOCKD.Edit')"
                                                      (click)="createOrEdit(record.apinvknockh.id)">{{l('Edit')}}</a>
                                              </li>
                                              <li>
                                                  <a href="javascript:;"
                                                      *ngIf="permission.isGranted('Pages.APINVKNOCKD.Delete') && !record.apinvknockh.posted"
                                                      (click)="delete(record.apinvknockh.id)">{{l('Delete')}}</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </td>
                                  <td style="width:90px">
                                      <span class="ui-column-title"> {{l('DocNo')}}</span>
                                      {{record.apinvknockh.docNo}}
                                  </td>
                                  <td style="width:90px">
                                      <span class="ui-column-title"> {{l('DocDate')}}</span>
                                      {{record.apinvknockh.docDate | momentFormat:'L' | date: 'dd/MM/yyyy'}}
                                  </td>
                                  <td style="width:110px">
                                      <span class="ui-column-title"> {{l('Debtor')}}</span>
                                      {{record.apinvknockh.vendorCtrlAc}}
                                  </td>
                                  <td style="width:150px">
                                      <span class="ui-column-title"> {{l('Customer')}}</span>
                                      {{record.apinvknockh.vendorID}}
                                  </td>
                                  <td style="width:100px">
                                      <span class="ui-column-title"> {{l('Amount')}}</span>
                                      {{record.apinvknockh.totalAmount| number}}
                                  </td>
                                  <!-- <td style="width:100px">
                  <span class="ui-column-title"> {{l('Posted')}}</span>
                                      <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.oeinvknockh.posted">{{'Yes' | localize}}</span>
                                      <span class="kt-badge kt-badge--danger kt-badge--inline" *ngIf="!record.oeinvknockh.posted">{{'No' | localize}}</span>
                                  </td>
                                  <td style="width:110px">
                                      <span class="ui-column-title"> {{l('Posted Date')}}</span>
                                      {{record.oeinvknockh.postedDate | momentFormat:'L' | date: 'dd/MM/yyyy'}}
                                  </td>
                                  <td style="width:200px" class="text_overflow">
                                      <span class="ui-column-title"> {{l('Narration')}}</span>
                                      {{record.oeinvknockh.narration}}
                                  </td> -->
                              </tr>
                          </ng-template>
                      </p-table>
                      <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                          {{l('NoData')}}
                      </div>
                      <div class="primeng-paging-container">
                          <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                              (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                          </p-paginator>
                          <span class="total-records-count">
                              {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-create-apinvknockoff #CreateOrEditInvoiceKnockOffComponent (modalSave)="getAll()"></app-create-apinvknockoff>
<!-- <viewAssemblyModal #viewAssemblyModal></viewAssemblyModal> -->
<!-- <app-create-or-edit-sale-qutation #AssemblyModal ></app-create-or-edit-sale-qutation> -->